*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}

body{
	height: 100vh;
	padding:0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
a,p{
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 20px;
	font-size: 16px;
}
a{
	text-decoration: none;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 20px;
	color:#000000;
}
.first-container{
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.header{
	padding: 28px 0;
}
.header-location{
	display: flex;
	gap: 8px;
}
.header-location_link{
	padding-bottom: 4px;
	border-bottom: 1px dashed #000000;
	color: #000000;

}
.header-link{
	color: #6D6D6D;
	font-size: 16px;
}

.header-tel{
	color: #6D6D6D;
}
.social-links{
	gap: 28px;
}
.header-items{
	gap: 35px;
}
.header-search-input{
	background-color: #D5E1E3;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border:none;
	width: 540px;
	padding:5px 40px;
}
input.header-search-input:focus{
	border: none !important;
}
.btn-logo{
	border: none;
	padding:0;
	background:transparent !important;
}
.btn-search{
	position: absolute;
	top: 3px;
	left: 10px;

}
.user-info-block{
	display: flex;
	gap: 30px;
}
/* //////////////////////////////////MAIN */
h1{
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #000000;

}
.main-text{
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #000000;
	text-shadow:
	black 1px 1px 0,
	rgba(189, 229, 231, 1)	1px -1px 0,
	rgba(189, 229, 231, 1) 2px 1px 0,
	black 5px -1px 0;
	letter-spacing:1px
}
.slider-text{
	text-align-last: left;
	left:370px;
	top: 120px
}
.categories{
	margin-top: 180px;
	
}
.category-card{
	background-size: cover;
	box-shadow: 4px 4px 10px rgba(132, 131, 131, 0.5);
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	border-radius: 14px;
	color: #ffffff;
	padding: 15px 13px;
	display: flex;
}
.makeup{
	width: 255px;
	height: 305px;
	background-image: url(./assets/background/makeup.png);
}
.for-body{
	width: 350px;
	height: 305px;
	background-image: url(./assets/background/for-body.png);
	justify-content: flex-end;
	align-items: flex-end;
}
.for-hair{
	width: 445px;
	height: 305px;
	background-image: url(./assets/background/for-hair.png);
	justify-content: flex-end;
}
.skin-fase{
	width: 445px;
	height: 305px;
	background-image: url(./assets/background/skin-fase.png);
	justify-content: flex-end;
	align-items: baseline;
}
.discount{
	width: 350px;
	height: 305px;
	background-image: url(./assets/background/discount.png);
	padding-left: 24px;
}
.to-category-card{
	flex-direction: column;
	width: 255px;
	height: 305px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #6BA439;
	color: #6BA439;
} 
.icon-to-categories{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6BA439;
	border-radius: 50%;
	margin-bottom: 54px;
}
/* //////////////////////////////////FOOTER */
.footer {
	padding: 62px 0 32px 0;
	background: #B7D37D;
}
.footer-item-header{
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 23px;
	font-weight: 700;
}
.footer-link{
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
}
.footer-flex-link{
	display: flex;
	gap: 10px;
	margin-bottom: 28px;

}
.footer-social-links{
	display: flex;
	gap:28px;
	padding-top: 13px;
	border-top: 2px solid #ffffff;
	width: auto;
}
.footer-input{
	background: #B0D06E;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
	height: 34px;
}
.footer-btn-search{
	position: absolute;
	top: 5px;
	left: 10px;
}
/* UTILITIES */
.df{
	display: flex;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.jcsb{
	justify-content: space-between;
}
.mr44{
	margin-right: 44px;
}
.mr30{
	margin-right: 30px;
}
.mr14{
	margin-right: 14px;
}

.mb12{
	margin-bottom: 12px;
}
.mb34{
	margin-bottom: 34px;
}
.sz{
	padding: 0;
}
.fdc{
	flex-direction: column;
}
.h673{
	height: 673px;
}
.mta{
	margin-top: auto;
}
.g30{
	gap: 30px;
}
.mt25{
	margin-top: 25px;
}
@media (max-width:480px) {
	.first-container{
		max-width:100%;
	}
	.header-search-input{
		display: none;
	}
}