*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}

body{
	height: 100vh;
	padding:0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family: 'Montserrat';
}
a,p{

	font-weight: 400;
	line-height: 20px;
	font-size: 16px;
}
a{
	text-decoration: none;
	font-weight: 400;
	line-height: 20px;
	color:#000000;
}
.first-container{
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

/* ///////////////////////COMPONENTS */
.section-desc{
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;

color: #3F3D56;
}
/* ///////////////////////HEADER */
.header{
	padding: 28px 0;
}
.header-location{
	display: flex;
	gap: 8px;
}
.header-location_link{
	padding-bottom: 4px;
	border-bottom: 1px dashed #000000;
	color: #000000;

}
.header-link{
	color: #6D6D6D;
	font-size: 16px;
}

.header-tel{
	color: #6D6D6D;
}
.social-links{
	gap: 28px;
}
.header-items{
	gap: 35px;
}
.header-search-input{
	background-color: #D5E1E3;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border:none;
	width: 540px;
	padding:5px 40px;
}
input.header-search-input:focus{
	border: none !important;
}
.btn-logo{
	border: none;
	padding:0;
	background:transparent !important;
}
.btn-search{
	position: absolute;
	top: 3px;
	left: 10px;
}
.user-info-block{
	display: flex;
	gap: 30px;
}
/* //////////////////////////////////MAIN */
h1{
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #000000;

}
.main-text{
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #000000;
	text-shadow:
	black 1px 1px 0,
	rgba(189, 229, 231, 1)	1px -1px 0,
	rgba(189, 229, 231, 1) 2px 1px 0,
	black 5px -1px 0;
	letter-spacing:1px
}
.slider-text{
	text-align-last: left;
	left:370px;
	top: 120px
}
.categories{
	margin-top: 180px;
	
}
.category-card{
	background-size: cover;
	box-shadow: 4px 4px 10px rgba(132, 131, 131, 0.5);
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	border-radius: 14px;
	color: #ffffff;
	padding: 15px 13px;
	display: flex;
}
.makeup{
	width: 255px;
	height: 305px;
	background-image: url(./assets/background/makeup.png);
}
.for-body{
	width: 350px;
	height: 305px;
	background-image: url(./assets/background/for-body.png);
	justify-content: flex-end;
	align-items: flex-end;
}
.for-hair{
	width: 445px;
	height: 305px;
	background-image: url(./assets/background/for-hair.png);
	justify-content: flex-end;
}
.skin-fase{
	width: 445px;
	height: 305px;
	background-image: url(./assets/background/skin-fase.png);
	justify-content: flex-end;
	align-items: baseline;
}
.discount{
	width: 350px;
	height: 305px;
	background-image: url(./assets/background/discount.png);
	padding-left: 24px;
}
.to-category-card{
	flex-direction: column;
	width: 255px;
	height: 305px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #6BA439;
	color: #6BA439;
} 
.icon-to-categories{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #6BA439;
	border-radius: 50%;
	margin-bottom: 54px;
}
/* //////////////////////////////////////////////LEADERS */
.card-tabs{
	width: 544px;
}
.leaders{
	margin-top: 150px;
}
.leaders-cards{
	display: flex;
}
.leaders-card-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px 14px 20px 0;
	width: 350px;
	height: 510px;
	border-radius: 21px;
	box-shadow: 4px 4px 10px rgba(132, 131, 131, 0.5);
	background-image: url(./assets/img/leader-item.png);
	background-size: cover;
}
.hit{
	background: #ECCC8C;
	border-radius: 5px 0px 0px 0px;
	width: 100px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 8px;
}
.discount-main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-left: -8px;
}
.discount-amount{
	background: #F19F7B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 800;
	font-size: 26px;
	line-height: 31px;
	color: #FFFFFF;
}

.discount-date{
	font-family: 'Montserrat';
	background: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leaders-item-desc{
	position:absolute;
	bottom: -195px;
	left:0;
	background-color: #ffffff;
	padding: 0 24px 32px 24px;
	z-index: 100;
	opacity: 0;
	border-radius: 0 0 21px 21px;
	box-shadow: 4px 13px 10px rgba(132, 131, 131, 0.5);
	transition: 1s;
	visibility: hidden;
}
.leaders-card-item:hover .leaders-item-desc {
	visibility: visible;
	opacity: 1;
}
.leaders-card-item .card-price{
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	margin-left: auto;
	margin-bottom: 14px;
	text-align: right;
}
.leaders-card-item .card-name{
	font-weight: 600;
	font-size: 20px;
	line-height: 133.4%;
	margin-left: 18px;
	transition: 1s;
}
.leaders-card-item:hover .card-name{
	text-align: right;
}
.leaders-items-choose{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
	
}
.cart .icon{
	width: 32px;
	height: 32px;
}
.stars{
	display: flex;
	gap: 4px;
}
.leaders-items-choose .price{
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.leaders-items-choose .buttons{
	display: flex;
	justify-content: space-between;
	width: 82px;
	height: 30px;
	padding: 4px 8px;
	border: 1px solid #000000;
	border-radius: 21px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.choose-btn{
	width: 18px;
	height: 18px;
	border:none;
	user-select: none;
	background: none;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	vertical-align: middle;
}
.main-btn{
	border:none;
	padding: 20px 64px;
	border-radius: 21px;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}
.leaders-item-desc .main-btn{
	padding: 15px 64px;
}
/* ////////////////////////////////////////free-delivery */
.free-delivery{
	position: relative;
	overflow-x: hidden;
	padding-top: 380px;
	background: url(./assets/background/rose-petals.png) 78% 10% no-repeat,
				url(./assets/img/flower.png) -17% 8% no-repeat;
	background-repeat: no-repeat;
}
.flower{
	position: absolute;
	top: 51%;
	right: -10%;
	transform: rotate(190deg);
	z-index: 1;
}
.free-delivery-secondary{
	padding-top: 380px;
	background: url(./assets/background/free-delivery.png) no-repeat;
}
.desc-2{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}
.brands{
	margin-top: 100px;
}
/* //////////////////////////////////FOOTER */
.footer {
	padding: 62px 0 32px 0;
	background: #B7D37D;
}
.footer-item-header{
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 23px;
	font-weight: 700;
}
.footer-link{
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
}
.footer-flex-link{
	display: flex;
	gap: 10px;
	margin-bottom: 28px;

}
.footer-social-links{
	display: flex;
	gap:28px;
	padding-top: 13px;
	border-top: 2px solid #ffffff;
	width: auto;
}
.footer-input{
	background: #B0D06E;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
	height: 34px;
}
.footer-btn-search{
	position: absolute;
	top: 5px;
	left: 10px;
}
/* UTILITIES */
.wi{
	width: inherit;
}
.little-desc{
	font-weight: 400;
	font-size: 14px;
}
.bgcb{
	background: #9BC3C5;
}
.df{
	display: flex;
}
.jcc{
	justify-content: center;
}
.aic{
	align-items: center;
}
.jcsb{
	justify-content: space-between;
}
.mr44{
	margin-right: 44px;
}
.mr30{
	margin-right: 30px;
}
.mr14{
	margin-right: 14px;
}

.mb12{
	margin-bottom: 12px;
}
.mb34{
	margin-bottom: 34px;
}
.sz{
	padding: 0;
}
.fdc{
	flex-direction: column;
}
.h673{
	height: 673px;
}
.tac{
	text-align: center;
}
.tar{
	text-align: right;
}
.mta{
	margin-top: auto;
}
.m0a{
	margin:0 auto;
}
.g30{
	gap: 30px;
}
.mt25{
	margin-top: 25px;
}
/* /////////////////////////////////ICONS */
.icon{
	width: auto;
}
/* ////////////////////////////////////////////////MEDIA */
@media (max-width:480px) {
	.first-container{
		max-width:100%;
	}
	.header-search-input{
		display: none;
	}
}
/* ////////////////////////////////////BOOTSTRAP */
.nav-pills .nav-link.active{
	color: #000000;
	background: none;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #000000;
	border-radius:0;
	transition: 1s;
}
.nav-pills .nav-link{
	padding: 0 0 10px 0;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.2);
}
